[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
flask = "*"
peewee = "*"
flask-wtf = "*"
flask-login = "*"
flask-minify = "*"
email-validator = "*"
wtf-peewee = "*"

[requires]
python_version = "3.6"
