{% extends "layout/base.html" %}

{% block content %}
<div>
    <h3>Cadastro de Quartos <small><a href="{{ url_for('rooms.room_new') }}">(+)</small></a></h3>

    {% if rooms %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Quarto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Diária</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <th scope="row">{{ room.number }}</th>
                    <td>{{ room.category.name }}</td>
                    <td>{{ room.get_status_label() }}</td>
                    <td>{{  "%.2f MT"|format(room.daily_amount) }}</td>
                    <td><a href="{{ url_for('rooms.room_edit', room_id=room.id) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}