{% extends "layout/base.html" %}

{% block content %}
<div>
    <h3>Cadastro de Hóspedes <small><a href="{{ url_for('guests.guest_new') }}">(+)</small></a></h3>

    {% if guests %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Estado Civil</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for guest in guests %}
                <tr>
                    <td>{{ guest.name }}</td>
                    <td>{{ guest.get_gender_label() }}</td>
                    <td>{{ guest.age }}</td>
                    <td>{{ guest.cellphone }}</td>
                    <td>{{ guest.get_marital_status_label() }}</td>
                    <td>{{ guest.get_company() }}</td>
                    <td><a href="{{ url_for('guests.guest_details', guest_id=guest.id) }}"
                            class="btn btn-default">Detalhes</a></td>
                    <td><a href="{{ url_for('guests.guest_edit', guest_id=guest.id) }}"
                            class="btn btn-primary">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}