{% extends "layout/base.html" %}

{% block content %}
<div>
    <h3>Cadastro de Reservas <small><a href="{{ url_for('reservations.reservation_new') }}">(+)</small></a></h3>

    {% if reservations %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Data do Check In</th>
                    <th scope="col">Data do Check Out</th>
                    <th scope="col">Adultos</th>
                    <th scope="col">Crianças</th>
                    <th scope="col">Em nome de</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.check_in_time | pretty_date }}</td>
                    <td>{{ reservation.check_out_time | pretty_date}}</td>
                    <td>{{ reservation.adult_number }}</td>
                    <td>{{ reservation.children_number }}</td>
                    <td>{{ reservation.company.name or '-' }}</td>
                    <td>
                        <a href="{{ url_for('reservations.reservation_edit', reservation_id=reservation.id) }}"
                            class="btn btn-primary btn-sm">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr />

    <nav aria-label="page-navigation">
        <ul class="pagination">
            {% if has_previous(pagination) %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('reservations.reservation_index', page=previous_page(pagination)) }}">Anterior</a>
            </li>
            {% endif %}

            <li class="page-item disabled"><a class="page-link" href="#">Página {{pagination.get_page()}} de
                    {{pagination.get_page_count()}}</a></li>

            {% if has_next(pagination) %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('reservations.reservation_index', page=next_page(pagination)) }}">Próximo</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="alert alert-info">Nenhuma reserva criada, ainda.</div>
    {% endif %}
</div>
{% endblock %}