{% extends "layout/base.html" %}

{% block content %}
<div>
    <h3>Cadastro de Usuários <small><a href="{{ url_for('users.user_new') }}">(+)</small></a></h3>

    {% if users %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Perfil</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.name }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_profile_label() }}</td>
                    <td><a href="{{ url_for('users.user_edit', user_id=user.id) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}