{% extends "layout/base.html" %}

{% block content %}
<div>
    <h3>Tem a certeza que pretende {% if checkin.is_active %}desactivar{% else %}reactivar{% endif %} o Check-In?
    </h3>

    {% from "helpers/_form_helpers.html" import render_field %}
    <form method="POST" action="{{ url_for('checkins.checkin_deactivate', checkin_id=checkin.id) }}">
        <div class="form-group">
            <a href="{{ url_for('checkins.checkin_index') }}" class="btn btn-default">Não</a>
            <input type="submit" class="btn btn-primary" value="Sim">
        </div>
</div>
</form>
{% endblock %}