{% extends "layout/base.html" %}

{% block content %}
<div>
    {% if checkin.checkinguests %}
    <div class="table-responsive">
        <table class="table table-borderless card card-body bg-light">
            <thead>
                <tr>
                    <th scope="col">Hóspede</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for checkin_guest in checkin.checkinguests %}
                <tr>
                    <td>{{ checkin_guest.guest.name }}</td>
                    <form method="POST" action="{{ url_for('checkins.checkin_guest_remove', checkin_id=checkin.id) }}">
                        <input type="hidden" name="checkin_guest_id" value="{{ checkin_guest.id }}" />
                        <td><button type="submit" class="btn btn-danger">Remover</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info">Nenhum hóspede adicionado, ainda.</div>
    {% endif %}

    <hr />

    {% from "helpers/_form_helpers.html" import render_field %}
    <form method="POST" action="{{ url_for('checkins.checkin_details', checkin_id=checkin.id) }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ render_field(form.guest, class="form-control selectpicker", data_live_search="true") }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Adicionar">
        </div>
    </form>
</div>
{% endblock %}