{% extends "layout/base.html" %}

{% block content %}
<div>
    <h3>Cadastro de Check-In <small><a href="{{ url_for('checkins.checkin_new') }}">(+)</small></a></h3>

    {% if checkins %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check Out</th>
                    <th scope="col">Quatro</th>
                    <th scope="col" colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                {% for checkin in checkins %}
                <tr>
                    {% if checkin.is_active %}
                    <td><img src="{{ url_for('static', filename='active.png') }}" /></td>
                    {% else %}
                    <td><img src="{{ url_for('static', filename='inactive.png') }}" /></td>
                    {% endif %}
                    <td>{{ checkin.check_in_time | pretty_date }}</td>
                    <td>{{ checkin.check_out_time | pretty_date}}</td>
                    <td>{{ checkin.room.number }}</td>
                    <td><a href="{{ url_for('checkins.checkin_details', checkin_id=checkin.id) }}"
                            class="btn btn-secondary btn-sm">Detalhes</a></td>
                    <td>
                        {% if checkin.is_active %}
                        <a href="{{ url_for('checkins.checkin_deactivate', checkin_id=checkin.id) }}"
                            class="btn btn-warning btn-sm">Inativar</a>
                        {% else %}
                        <a href="{{ url_for('checkins.checkin_deactivate', checkin_id=checkin.id) }}"
                            class="btn btn-success btn-sm">Reactivar</a>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('checkins.checkin_edit', checkin_id=checkin.id) }}"
                            class="btn btn-primary btn-sm">Editar</a></td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr />

    <nav aria-label="page-navigation">
        <ul class="pagination">
            {% if has_previous(pagination) %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('checkins.checkin_index', page=previous_page(pagination)) }}">Anterior</a></li>
            {% endif %}

            <li class="page-item disabled"><a class="page-link" href="#">Página {{pagination.get_page()}} de
                    {{pagination.get_page_count()}}</a></li>

            {% if has_next(pagination) %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('checkins.checkin_index', page=next_page(pagination)) }}">Próximo</a></li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="alert alert-info">Nenhum check-in criado, ainda.</div>
    {% endif %}
</div>
{% endblock %}